logs
venv
data/**/*raw*
massif.out.*
a.out
testing
__pycache__
.ipynb_checkpoints
.idea
outs/
prediction_select_few/
prediction/*res*.pkl
out_figs
train_outputs
*.pdf
data/analysis/temp_*
data/analysis/granulari*