# pandas
# swifter
# tqdm
# mapply
# pytest

asttokens==2.4.1
attrs==24.3.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dask==2024.9.1
dask-expr==1.1.15
debugpy==1.8.7
decorator==5.1.1
dill==0.3.9
docopt==0.6.2
editdistance==0.8.1
emoji==2.14.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.1
filelock==3.16.1
fonttools==4.54.1
fsspec==2024.9.0
future==1.0.0
huggingface-hub==0.26.1
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
JPype1==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
konlpy==0.6.0
locket==1.0.0
lxml==5.3.0
mapply==0.1.27
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath==1.3.0
muddler==0.1.3
multiprocess==0.70.17
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numpy==1.26.4
packaging==24.1
pandarallel==1.6.5
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pathos==0.3.3
patsy==1.0.1
pexpect==4.9.0
pillow==10.2.0
pip==22.0.2
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
polars==1.16.0
pox==0.3.5
ppft==1.7.6.9
prettytable==3.12.0
prompt_toolkit==3.0.48
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
Pygments==2.18.0
pyparsing==3.2.0
pyrsistent==0.20.0
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rpds-py==0.22.3
sacremoses==0.1.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sentencepiece==0.2.0
setuptools==59.6.0
six==1.16.0
stack-data==0.6.3
statsmodels==0.14.4
stopwordsiso==0.6.1
swifter==1.4.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.19.1
tomli==2.1.0
toolz==1.0.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.43.4
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
widgetsnbextension==4.0.13
zipp==3.20.2